body {
    background-image: url("img.jpg");
    background-size: 100%;
}

h1 {
    position: absolute;
    font-size: 4.6rem;
    color: white;
    right: 20%;
    top: 20px;
    font-family: roboto;
} 