body {
    background-size: 100%;
}

header {
    width: 50%;
    height: 50vh;
    position: relative;
    background-image: url(img.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    position: absolute;
    font-size: 4.6rem;
    color: white;
    right: 20%;
    top: 20px;
    font-family: roboto;
} 