body {
    margin-left: 25%;
    align-content: center;
    background-size: 100%;
}

header {
    width: 50%;
    height: 50vh;
    position: relative;
    background-image: url(img.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    font-family: Arial;
    font-weight: normal;
    position: absolute;
    font-size: 4.6rem;
    color: black;
    right: 10%;
    top: 20px;
} 